{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    {% block main_column %}{% endblock %}
                </div>
                <div class="col-lg-4">
                    {{ include('AppBundle:Widget:search.html.twig') }}
                    {{ render(controller('AppBundle:Widget:lastComments')) }}
                    {{ render(controller('AppBundle:Widget:popularPosts')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}